<% layout('./layouts/boilerplate')%>

    <div class="alert alert-danger" role="alert">
        <h1 class="alert-danger">
            <%= err.message %>
        </h1>


        <p>
            <%= err.stack %>
        </p>

    </div>